*
{
    text-align: center;
    font-family: "Roboto", "sans-serif";
}

#imgCartelera
{
    width: 90vw;
}

.buttons
{
    margin: 5px;
    padding: 5px;
}

button
{
    font-size: 14px;
    width: 100px;
    height: 25px;
    border-radius: 4px;
}