button
{
    width: 100px;
    height: 100px;
    margin: 3px;
    padding: 3px;
    background-color: aquamarine;
    font-size: 26px;
    cursor: pointer;
    border-radius: 8px;
    transition: all 250ms ease;
}

button:hover
{
    background-color: aqua;

}

button:disabled
{
    cursor: default;
    background-color: blueviolet;
    color: white;
}

*
{
    font-family: "Roboto", sans-serif;
    text-align: center;
}


